<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MarousiCafe</title>
</head>
<body>
   <form action="http://192.168.223.116:5010/data" method=POST>
        <div>
            <div>Portokalada <input type="checkbox" name="item" value=1></div>
            <div>Frapedara <input type="checkbox" name="item" value=2></div>
            <div>espresara <input type="checkbox" name="item" value=3 ></div>
        </div>
        <input type="submit" value="Submit">
   </form>
</body>
</html>